

  #header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
  }

  body{
    background-image: url("images/background.jpg");
    background-size: cover;
    padding: 0;
    margin : 0;
}

.reservation{
  display :flex;
  flex-direction :column;
  background-color: aliceblue;
  height: ;
  width: ;
}

