.bookinginfo{
  background-color :white;
}

.corps{
  background-color :white;
}
#header{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:12px;
}
body{
  background-color: whitesmoke;
}
h1{
  display: flex;
  width: 100vw;
  flex-direction: row;
  float: left;
}
.text-tab{
  display: flex;
  flex-direction: row;
  gap: 25px;
}